.dialogs{
    display: grid;
    grid-area: c;
    background-color: cadetblue;
    color: white;
    grid-template-columns: 2fr 10fr;

}

.dialogs-items{
    padding: 10px;
}
.dialog{
    text-decoration: none;
    color: white;
}
.messages{
    padding: 10px;
}
.messages .message{

}
.active{
    color: black;
}